<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
        <% include includes/navbar.ejs %>
        <h1><%= title %></h1>
        <p>Hi my name is <b><%= name %></b>, I thought cheese from pizza was a vein and I was scared.</p>
    </body>
</html>