<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
        <% include includes/navbar.ejs %>
        <h1><%= title %></h1>
        <p>Hi my name is <%= name %>, write me at <b><%= email %></b>.</p>
    </body>
</html>
